<!--The content below is only a placeholder and can be replaced.-->

<mat-card color="primary" class="bg-black"><h1>Photo Albums</h1></mat-card>

<router-outlet></router-outlet>
<main class="bg-grey">
  <div class="container bg-grey">
    <div class="flex">
      <mat-card class="fit bg-black"
        ><h3>Users</h3>
        <app-user
          *ngFor="let user of users"
          class="margin"
          [user]="user"
          (albumToShow)="showAlbums($event)"
        ></app-user>
      </mat-card>
      <mat-card class="fit bg-black flex">
        <h3>Albums</h3>
        <app-album
          class="full"
          *ngFor="let album of albums"
          [album]="album"
          (click)="showPhotos(album.id)"
        >
          Image 1</app-album
        >
      </mat-card>
    </div>
  </div>
</main>
