<mat-expansion-panel>
  <mat-expansion-panel-header>
    <h4>{{ user.name }}</h4>
  </mat-expansion-panel-header>
  <h5>Information</h5>
  <div>Company : {{ user.company.name }}</div>
  <div>
    Address : {{ user.address.street }}, {{ user.address.suite }},{{
      user.address.city
    }}
  </div>
  <div>Zipcode : {{ user.address.zipcode }}</div>
  <h5>Contact</h5>
  <div>Email : {{ user.email }}</div>
  <div>Phone : {{ user.phone }}</div>
  <div>Website : {{ user.website }}</div>
  <button mat-button (click)="showAlbums()">Show Albums</button>
</mat-expansion-panel>
